<?xml version="1.0" ?>
<robot>

	<material name="white">
		<color rgba="1 1 1 1"/>
	</material>

	<material name="gray">
		<color rgba="0.4 0.4 0.4 1"/>
	</material>
	
	<material name="lightgray">
		<color rgba="0.45 0.45 0.45 1"/>
	</material>

	<material name="ivory">
		<color rgba="0.54 0.53 0.56 1"/>
	</material>

	<material name="darkgray">
		<color rgba="0.35 0.35 0.35 1"/>
	</material>

	<material name="black">
		<color rgba="0.2 0.2 0.2 1"/>
	</material>

	<material name="laser_black">
		<color rgba="0.1 0.1 0.1 0.0.6"/>
	</material>

	<material name="blue">
		<color rgba= "0 0 0.8 1"/>
	</material>

	<material name="red">
		<color rgba="0.8 0 0 1"/>
	</material>

	<material name="green">
		<color rgba="0 0.8 0 1"/>
	</material>

	<material name="yellow">
		<color rgba="0.8 0.8 0 1"/>
	</material>

	<material name="cyan">
		<color rgba="0 0.8 0.8 0.8"/>
	</material>

	<material name="purple">
		<color rgba="0.8 0 0.8 1"/>
	</material>
</robot>
