<?xml version="1.0"?>
<launch>
	<rosparam file="$(find camera_velodyne_calibration_gazebo)/config/camera_velodyne_control.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/camera_velodyne" args="joint_state_controller velodyne_top_velocity_controller"/>

	<node name="robot_state_publisiher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/camera_velodyne/joint_states"/>
	</node>

</launch>
