data/faster_rcnn
*.so
scripts/faster_rcnn/utils/build
scripts/ssd/utils/build
scripts/faster_rcnn/utils/*.c
scripts/faster_rcnn/utils/*.cpp
scripts/ssd/utils/*.c
scripts/faster_rcnn/utils/*.pyc
scripts/ssd/utils/*.pyc
scripts/ssd/sample_image
scripts/ssd/cv_and_skimage_test.py

