<?xml version="1.0"?>
<launch>
	<include file="$(find global_path_planner)/launch/global_map.launch"/>
	<node name="a_star_global" pkg="global_path_planner" type="a_star_global" output="screen" />

	<node name="a_star_local_goal" pkg="global_path_planner" type="a_star_local_goal" output="screen" />
	
</launch>
